{ 
    "prefix" : "YOUR_PREFIX_HERE",
    "token"  : "YOUR_TOKEN_HERE",
    "owner" : "YOUR_DISCORD_HERE",
    "openAI" : "YOUR_OPENAI_API_KEY_HERE",
    "client" : "YOUR_CLIENT_ID_HERE",
    "huggingface" : "YOUR_HUGGINGFACE_API_KEY_HERE"
}